@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  font-size: 10px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1248px;
  margin: 0px auto;
  padding: 0px 24px;
}

.commonHeading {
  @include d-flex(center, center);
  flex-direction: column;
  gap: 40px;
  margin: 0 0 50px 0;

  h1 {
    @include font-style(4rem, 700, 140%);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #111;
  }

  p {
    color: #555;
    @include font-style(2rem, 500, 1.6);
    max-width: 80rem;
    margin: auto;
    text-align: center;
  }
}

.specialText {
  font-weight: 600;
  color: #666;
}

.commonButton {
  cursor: pointer;
  padding: 1.5rem 0;
  max-width: 200px;
  text-align: center;
  width: 100%;
  @include font-style(2rem, 700, 140%);
  background: $color-blue-0;
  color: $color-white-0;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.5s;

  &:hover {
    transform: translateY(-1rem);
  }
}

.commonSection {
  padding: 100px 0;
}

@media (max-width: 992px) {
  .commonSection {
    padding: 40px 0;
  }
}
